body{
	background-image:url("/images/bg.png");
	background-repeat: repeat;
	background-position:top center;
	font-family: 'Open Sans Condensed', sans-serif;
	color:#999s;
}
#button {
	border-radius:90px;
	border:thin solid;
}
.container {
	width:1250px;
	margin: 25px auto auto auto;
	border:1px solid;
	border-radius:45px;
	background-clip:padding-box;
}
#header {
	background-color:#999;
	width:1500px;
	height:150px;
	background-color:color:#CCC;
	background-repeat:no-repeat;
}
#logo{
	clear:left;
	float:left;
	width:409px
}
#content{
	background-color:#CCC;
	height:750px;
}

#social a:hover.twitch{background-image:url("/images/twitch/hover.png");}

#social{
	float:right;
	display:block;
	height:66x;
	text-indent:9998px;
	background-position:top;
	margin-right:30px
}
#social a.twitch{
	float:right;
	background-image:url("/images/twitch/img.png");
	width:66px;
	height:66px;
	margin-top:45px;
}
#logo a{
	width:409px;
	height:110px;
	background-image:url("/images/logo.png");
	background-repeat:no-repeat;
	background-position:top;
	display:block;
	text-indent:9999px;
	margin-left:45px;
	margin-top:20px;
}
ul{
	list-style: none inside none;
	font-size:18px;
}
#command{font-size:24px}

textarea {resize: none;}

table{font-size:18px;}